:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --hero-footer-bgcolor: #2f303a;
  --white-color: #ffffff;
  --secondary-text-color: #757575;
  --secondary-bgcolor: #f5f4fa;
  --secondary-button-color: #f5f4fa;
}

/* цвет основного текста #212121 */

/* вторичный цвет текста  #757575 */

/* белый цвет  #FFFFFF */

/* акцент #2196F3 */

/* вторичный цвет фона #F5F4FA */

/* цвет герой, футер  #2F303A */

body {
  color: var(--primary-text-color);
  background-color: #fff;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border-style: none;
}

/* container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-header {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */
.header {
  border: 1px solid #ececec;
}

/* Logo */
.logo {
  margin-right: 95px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--primary-text-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-top: 0;
}

.accent-logo {
  color: var(--accent-color);
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Main-nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* Nav */
.nav-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  text-decoration: none;
}

/* Contacts */
.contacts {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  background-color: var(--hero-footer-bgcolor);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-color);
  background-color: var(--hero-footer-bgcolor);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: center;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: #188ce8;
}

.current-button {
  margin-left: 8px;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.second-button {
  margin-left: 8px;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--secondary-button-color);
}

.second-button:hover,
.second-button:focus {
  color: var(--white-color);
  background-color: #188ce8;
}

/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
  display: block;
}

/* Особенности  */
.list-qualities {
  display: flex;
  padding: 0;
  margin: 0;
}

.item-qualities {
  margin-right: 30px;
  width: 270px;
}

.item-qualities:last-child {
  margin-right: 0;
}

.section.no-padding {
  padding-bottom: 0;
}

.title-qualities {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-qualities {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Work */
.work {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.work-list {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
}

.work-item {
  margin-left: auto;
  margin-right: 30px;
}

/* Section team */
.team {
  background-color: var(--secondary-bgcolor);
  margin-bottom: 0;
  text-align: center;
}

.team-list {
  display: flex;
  text-align: center;
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.team-item {
  margin-left: auto;
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;
}

.title-team {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.name {
  margin-top: 30px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
}

/* навигация по сайту */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.works-main {
  background-color: #e5e5e5;
}

.works-section-list {
  display: block;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 34px;
}

.description {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

.text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-bottom: 20px;
  margin-top: 4px;
}

.card-set {
  padding: 0;
  margin: 0;
  margin-right: -30px;
  margin-bottom: -30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card-set.item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

img {
  display: block;
}

/* Footer */
.footer {
  background-color: var(--hero-footer-bgcolor);
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  margin-bottom: 0;
}

.address-list {
  padding-left: 0;
  margin-bottom: 0;
}

.accent-logo-footer {
  color: var(--white-color);
  text-decoration: none;
}

.street {
  color: var(--white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.mail,
.tel {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.mail:hover,
.tel:hover {
  color: var(--accent-color);
}

.mail:focus,
.tel:focus {
  color: var(--accent-color);
}
